body {
	font-family: 'Chivo', sans-serif;
}

nav {
	background-color: #f7f7f7;
}

.navbar {
	position: sticky;
	top: 0;
	z-index: 5;
}

.col-md-3 {
	position: sticky;
	top: 0;
	z-index: 4;
}

.col-md-3 .list-group {
	margin-bottom: 15px;
}